* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000012;
}

.countdown {
  height: 130px;
  width: 130px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
}
#count {
  font-size: 40px;
  color: white;
}

.message {
  font-size: 60px;
  color: white;
  margin-top: 30px;
}

.cake {
  width: 200px;
  margin-top: 20px;
  display: none;
}

.ballon {
  position: absolute;
  width: 80px;
  height: 100px;
  background: red;
  border-radius: 50%;
  bottom: -120px;
  animation: anime 6s linear infinite;
}

@keyframes anime {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120vh);
  }
}
